<div class="panel panel-default " ng-repeat = "post in postctrl.items">
	<div class="panel-heading">

		<div class="row">
			<div class="col-md-10">
				<h3 class="panel-title">{{post.title}}</h3>		
			</div>		

			<div class="col-md-2">

				<div class="col-md-6 text-right">
					
					<a ui-sref="edit" ng-click="postctrl.setItem(post)">Edit</a>

				</div>

				<div class="col-md-6 text-right">
					
					<a ui-sref="list" ng-click="postctrl.items.$remove(post)">Remove</a>
					
				</div>

			</div>

		</div>

	</div>
	<div class="panel-body">

		<div class="row">

			<div ng-bind-html="postctrl.getSafeHtml(post.content)" class="col-md-12"></div>

		</div>

		<hr>

		<div class="row">

			<div class="col-md-6 text-left text-capitalize">

				<p> <em>{{post.author}}</em>
				</p>

			</div>

			<div class="col-md-6 text-right text-capitalize">

				<p> <em>Comments: {{post.comments.length}}</em>
				</p>

			</div>

		</div>

	</div>
</div>